.headrer{
    width: 100%;
    box-shadow: 5px 5px 20px gray;
}

.brand{
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
}
.search-box{
    width: 90%;
    height: 2.5em;
    display: inline-block;
    border: none;
}
.search-button{
    width: 10%;
    height: 2.5em;
    border: none;
    background-color: #dadada;
}